<div class="container fade-in">
  <mat-card class="card"> 
    <form id="form" [formGroup]="inputFormGroup" (ngSubmit)="onSubmit()">

      <!-- First name input field  -->
      <mat-form-field appearance = "outline" class="input">
          <mat-label>First Name</mat-label>
          <input matInput class="mdc-text-field__input" placeholder="Ex. Drogo" formControlName="firstName">
          <ng-container *ngIf="firstNameInvalid(); then errorsFirst"></ng-container>
            <ng-template #errorsFirst>
              <mat-error *ngIf="firstName.errors?.['minlength']"> Must be 4 letters.</mat-error>
            </ng-template>
      </mat-form-field>

      <!-- Last name input field  -->
      <mat-form-field appearance = "outline" class="input">
        <mat-label>Last Name</mat-label>
        <input matInput class="mdc-text-field__input" placeholder="Ex. Kopicl" formControlName="lastName">
        <ng-container *ngIf="lastNameInvalid(); then errorsLast"></ng-container>
          <ng-template #errorsLast>
            <mat-error *ngIf="lastName.errors?.['minlength']"> Must be 4 letters.</mat-error>
          </ng-template>
      </mat-form-field>

      <!-- Username input field  -->
      <mat-form-field appearance = "outline" class="input">
        <mat-label>Username</mat-label>
        <input matInput class="mdc-text-field__input" placeholder="Ex. Drogan (3-10 letters)" formControlName="username">
        <ng-container *ngIf="usernameInvalid(); then errorsUsername"></ng-container>
          <ng-template #errorsUsername>
            <mat-error *ngIf="username.errors?.['minlength'] || username.errors?.['maxlength']"> Must be 3-10 letters.</mat-error>
          </ng-template>
      </mat-form-field>

      <!-- Email input field  -->
      <mat-form-field appearance = "outline" class="input">
            <mat-label>Email</mat-label>
            <input matInput placeholder="xx@xxx.xxx" formControlName="email">
            <ng-container *ngIf="emailInvalid(); then errorsEmail"></ng-container>
              <ng-template #errorsEmail>
                <mat-error class="text-danger" *ngIf="email.errors?.['email']"> Please input valid email address.</mat-error>
              </ng-template>
              <ng-container *ngIf="checkUserExist(email.value); then existEmail"></ng-container>
              <ng-template #existEmail>
                <mat-error class="text-danger"> Email already exist.</mat-error>
              </ng-template>
      </mat-form-field>

      <!-- Phone number input field  -->
      <mat-form-field appearance = "outline" class="input">
        <mat-label>Telephone</mat-label>
        <span matPrefix>+ &nbsp;</span>
        <input type="text" pattern="[0-9]*" matInput placeholder="381123456" formControlName="phone">
        <mat-error *ngIf="phoneInvalid()"> Please input valid phone number.</mat-error>
      </mat-form-field>

      <!-- Password input field  -->
      <mat-form-field>
        <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password" required>
        <mat-icon class="material-icons" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-hint *ngIf="passwordInvalid()">Enter your password (min. 4 characters)</mat-hint>
      </mat-form-field>

      <!-- Submit button  -->
      <div class="button-wrap">
        <button mat-raised-button class="button border-round shadow">Submit</button>
      </div>
    </form>
  </mat-card>
</div>