// Main container
.container {
  display: flex; 
  flex-direction: column;
  flex-wrap: nowrap;
  align-items:center;
  justify-content: center;
}

// Register card
.card {
  display: flex; 
  flex-direction: column;
  flex-wrap: nowrap;
  align-items:center;
  gap: 30% 30%;
  width:150%;
}

// Input style
.input {
  display: block;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

// Button container
.button-wrap {
  text-align: center;
  margin: 20%;
}

// Button style
.button {
  background-color: rgb(79, 115, 147);
  color: white;
  border: 1px solid white;
  min-width: 81px !important;
}

// Correction of snackbar default style
::ng-deep .mat-snack-bar-container{
  color: rgb(255, 255, 255) !important;
  background:rgb(79, 115, 147) !important;
}