
// display of paged tweets
.window {
  background-color: white;
  padding: 2%;
  pointer-events: all;
  border-radius: 8px;
  background-color: rgb(79, 115, 147);
  min-width: 455px;
}

// look of every tweet
.mat-card {
  border-radius: 8px;
}

//* Tweet parts *//

// Username
.mat-card-title {
  font-size:medium;
  align-content:center;
  width:10%;
}

// Date
.mat-card-subtitle {
  font-size:x-small
}

// Message
.tweet-body {
  font-size: small;
  overflow-wrap: break-word;
  vertical-align:auto;
}

// Interpret native line break
.multiline {
  white-space: pre-wrap;
}

// Delete button container
.delete {
  align-content: center;
}

// Delete icon color
.mat-icon-button :hover {
  color: rgba(131, 19, 41, 0.772);
}
//* *//

// Paginator container
.paginator-div {
  padding-top: 1rem;
  padding-bottom: 1rem;
  justify-content:center;
  min-width: 450px;
}

// Input container
.input-container {
  display: inline-flex; 
  flex-direction: row;
  align-items:center;
  column-gap:1rem;
  background-color: transparent;
  pointer-events: all;
  min-width: 450px;
}

// Input only
.input-box {
  pointer-events: all;
  width: 100%;
  padding-bottom: 0;
  background-color: white;
}

// Submit button container
.submit-button {
  padding-right: 0rem;
}

// Material in-built padding for input
::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0;
  align-items: baseline;
  border-radius: 8px !important;
}

// Material input form
.mat-form-field {
  padding-bottom: 0;
  width: 100%;
  pointer-events: all;
  background-color: transparent;
  padding-left: 2rem;
  padding-right: 2rem;
  min-width: 353px;
}

// Turn on events on buttons where needed
.events {
  pointer-events: all;
}

// Button style
.button {
  background-color: rgb(79, 115, 147);
  color: white;
  border: 1px solid white;
  min-width: 81px !important;
}