<div class="container">

<!-- Main div with tweets  -->
<div class="left-field container fade-in" fxLayout="column" fxFlex="100%" fxLayoutAlign="left">
  <form noValidate autocomplete="off" class="input-tweet"  [formGroup]="inputFormGroup" (ngSubmit)="onSubmit()">
      <!-- input and submit -->
      <div fxFill fxFlexLayout="row wrap" fxLayoutGap="1rem" class="input-container" fxLayoutAlign="space-between center">
        <!-- input for new tweet  -->
        <div class="input-box border-round events shadow">
          <mat-form-field fxFlex="100">
            <mat-label>Write something</mat-label>
            <textarea #matInput matInput
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              formControlName="tweet">
            </textarea>
          </mat-form-field>
        </div>
        <!-- submit input  -->
        <div class="submit-button events shadow border-round"> 
          <button mat-raised-button class="button border-round">Write</button>
        </div>
    </div>
  </form>
      
  <!-- show paginator -->
  <div class="paginator-div events" fxLayoutAlign="center">
    <mat-paginator class="paginator border-round shadow" #paginator [pageSizeOptions]="pageSizeOptions" (page)="pageChanged($event)" showFirstLastButtons 
    [length]="totalRows" [pageIndex]="currentPage" [pageSize]="pageSize">
  </mat-paginator>
  </div>

  <!-- read and show all tweets  -->
  <div class="window shadow" fxLayout="column" fxLayoutGap="1rem">
    <mat-card class="mat-card shadow" fxLayout="row wrap" *ngFor="let card of obs | async">

      <!-- one tweet  -->
      <mat-card-header class="mat-card-title" fxFlex="20%">
        <mat-card-title>{{card.username}}</mat-card-title>
        <mat-card-subtitle>{{convertDate(card.writenAt)}}</mat-card-subtitle>
      </mat-card-header>
      <!-- content of message -->
      <mat-card-content class="tweet-body multiline" fxFlex="75%">
        <div >{{card.body}}</div>
      </mat-card-content>
      <!-- if tweet is from current user, can be deleted  -->
      <div class="delete" fxFlex="5" fxLayoutAlign="center">
        <mat-card-actions >
          <button class="events" *ngIf="card.username === currentUser.username" (click)="confirmDelete(card)" 
            mat-icon-button color="basic" 
            matTooltip="Delete this tweet">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-card-actions>
      </div>
    </mat-card>
  </div>

  <!-- show paginator -->
  <div class="paginator-div" fxLayoutAlign="center">
    <mat-paginator class="paginator events border-round shadow" #paginator [pageSizeOptions]="pageSizeOptions" (page)="pageChanged($event)" showFirstLastButtons 
      [length]="totalRows" [pageIndex]="currentPage" [pageSize]="pageSize">
    </mat-paginator>
  </div>
  
</div>