<div class="container">
  <!-- Open card as a container for Login / Register -->
  <mat-card class="cardWrap"> 
    <div>
      <!-- IsLogin is flag for chosen component  -->
      <div *ngIf="isLogin"> <app-login></app-login></div>
      <div *ngIf="!isLogin"><app-register-material></app-register-material></div>
    </div>
    <!-- Switch components  -->
    <div class="button-container fade-in">
      <p class="mat-stroked-button button shadow" (click)="rotateLogin()" >{{buttonLabel}}</p>
    </div>
  </mat-card>
</div>