// Main mcontainer
.container {
  padding-top: 7%;
  column-gap:  20px 20px;
}

// Button container
.button-container {
  padding-top: 3%;
}

// Card style (which contain components)
.cardWrap {
  background-color: transparent;
  display: flex;
  flex-flow: column nowrap;
  flex-direction: column;
  align-items:center;
  width:100%;
  box-shadow: 0 0 0;
}

// Button style
.button {
  background-color: rgb(79, 115, 147);
  color: white;
  border: 1px solid white;
  min-width: 81px !important;
}