  <!-- Universal confirmation dialog  -->
  
  <h1 mat-dialog-title>
    {{title}}
  </h1>

  <div mat-dialog-content>
    <p>{{message}}</p>
  </div>

  <div mat-dialog-actions>
    <button class="button" mat-button (click)="onDismiss()">No</button>
    <button class="button" mat-raised-button (click)="onConfirm()">Yes</button>
  </div>