// User profile container
.user-profile{
  width: 300px;
}

// User profile card
.user-card {
  min-width: 70%;
  width: 40%;
  height: fit-content;
}

.users-list {
  display: flex;
  min-width: 70%;
  width: 40%;
  height: fit-content;
}

// responsive user image
.responsive {
  width: 50%;
  height: auto;
  border-radius: 50%;
}

// User data
.profile {
  font-size: medium;
  line-height: 1.5rem;
  display: flex;
  align-items: flex-start;
  text-align: left;
  overflow-wrap: break-word;
}

.position {
  display: flex;
  flex-direction: column !important;
}

.distance {
  min-height: 30px;
}

.divider {
  max-width: 70%;
}