<div class="user-profile">
  <!-- Open users profile -->
  <mat-card class="user-card shadow">
    <div fxLayoutAlign="center center">
      <!-- User profile image -->
      <img src="../../../assets/man.jpg" class="responsive image">
    </div>
    <!-- Current user profile data -->
    <mat-card-content class="profile">
      <p>
        <small>Username: </small> <br> {{currentUser.username}} <br>
        <small>First name:</small> <br> {{currentUser.firstName}} <br>
        <small>email:</small> <br> {{currentUser.email}} <br>
        <small>Last Name:</small> <br> {{currentUser.lastName}} <br>
        <small>phone:</small> <br> {{currentUser.phone}}
      </p>
    </mat-card-content>
  </mat-card>
</div>
<div class="distance"></div>
<mat-divider class="divider"></mat-divider>
<div class="distance"></div>
<!-- Card with all users who wrote in this tweet -->
<mat-card class="users-list profile position shadow" fxFlexLayout="column" fxLayoutAlign="left"> 
    <div class="profile"><small>Active users in this tweet: </small></div>
    <div class="profile" *ngFor="let user of activeUsers"> {{user}} <br></div>
</mat-card>