<!-- Main wrapper -->
<div class="root" fxLayout="raw wrap" fxLayoutAlign="center" fxLayoutGap="10px">

  <!-- Toolbar div -->
  <div class="shadow" fxLayout="row wrap" fxFill >
    <mat-toolbar color="accent" class="toolbar">
      <button mat-icon-button class="home-icon">
        <mat-icon>home</mat-icon>
      </button>
      <span> Tweet example </span>

      <!-- Flexible distancer  -->
      <span class="autoFlex"></span>

      <!-- logout button -->
      <button class="events shadow button" mat-raised-button class="border-round button" (click)="confirmLogOut()">Log out</button>
    </mat-toolbar>
  </div>
  
  <!-- Tweet and user div -->
  <div fxFlex="100" fxLayout="row wrap" fxLayout="left center" fxFill>

    <!-- Tweets div -->
    <div class="left-field container fade-in" fxFlex="60" fxFlex.lt-md="100"  fxFlexOffset="10" fxFlexOffset.lt-md="0">
      <app-tweet-div></app-tweet-div>
    </div>

    <!-- User data div -->
    <div class="right-field fade-in" fxFlex="30" fxLayout="column" fxFlex.lt-md="100">
      <div fxLayout="column" fxFlex="100" fxLayoutAlign="start center" fxLayout="column" fxFlexOffset="10.4rem" fxFlexOffset.lt-md="2rem">
        <!-- user profile  -->
        <app-users-div></app-users-div>
      </div>
    </div>
  </div>  
</div>