.root {
  margin:10px;
}

// Toolbar section
.toolbar {
  color: white;
  background-color: rgb(79, 115, 147);
  min-width: 500px;
}

.autoFlex {
  flex: 1 1 auto;
}

// Turn on events on buttons where needed
.events {
  pointer-events: all;
}

// Container of tweets div
.container {
  padding-top: 20px;
  width:100%;
  // turn off all events
  pointer-events: none;
}

// Tweets div
.left-field{
  padding-top: 30px;
  margin: 0;
}

.button {
  background-color: rgb(79, 115, 147);
  border: 1px solid white;
  color: white;
}

// Remove autofocus from button
::ng-deep .mat-button-focus-overlay {
  display: none;
}