<div class="container fade-in">
  <mat-card class="card shadow"> 
    <mat-card-title class="title">Login</mat-card-title>
    <form [formGroup]="inputFormGroup" (ngSubmit)="onSubmit()">

      <!-- email input field -->
      <mat-form-field appearance = "outline" class="input">
            <mat-label>Email</mat-label>
            <input matInput placeholder="xx@xxx.xxx" formControlName="email">
            <!-- check valid email  -->
            <ng-container *ngIf="emailInvalid(); then errorsEmail"></ng-container>
              <ng-template #errorsEmail>
                <mat-error class="text-danger" *ngIf="email.errors?.['email']"> Please input valid email address.</mat-error>
              </ng-template>
      </mat-form-field>

      <!-- password input field  -->
      <mat-form-field>
        <input matInput password class="input" placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password" required>
        <mat-icon class="material-icons" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-hint *ngIf="passwordInvalid()">Enter your password (min. 4 characters)</mat-hint>
      </mat-form-field>

      <!-- submit button  -->
      <div class="button-wrap"> 
        <button mat-raised-button class="button shadow">Login</button>
      </div>
      
      <!-- show error if any  -->
      <div class="errors">
        <mat-error *ngIf="!userOk" class="text-danger">User not found</mat-error>
        <mat-error *ngIf="userOk && !passwordOk" class="text-danger">Password is wrong</mat-error>
      </div>
    </form>
  </mat-card>
</div>