/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "~ngx-bootstrap/datepicker/bs-datepicker";

/* import material*/
// @import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css"; 
/* @import "~@angular/material/prebuilt-themes/pink-bluegrey.css"; */
/* @import "~@angular/material/prebuilt-themes/purple-green.css"; */

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

html, body { height: 100%; }
body { 
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  // background-image: url('./assets/paper.jpg');
  background-color: rgb(238, 247, 255);
}

.fade-in {
  animation: fadeIn 1s;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.shadow {
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, .3) !important;
}

// Rouned box property
.border-round {
  border-radius: 8px !important;
}